<!-- Landing Page Nextfilm -->
<div style="position: relative; min-height: 100vh;">
  <div
    style="position: absolute; inset: 0; z-index: 0; background-image: url('/assets/images/fondo_landing.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat; opacity: 0.40;">
  </div>
  <div style="position: relative; z-index: 1;">



    <!-- Encabezado con logo -->
    <div class="container pt-3">
      <div class="d-flex justify-content-center">
        <img src="./assets/images/nextfilm-logo.png" class="img-fluid" alt="Nextfilm logo">
      </div>

      <!-- Texto de llamada a la acción -->
      <div class="pt-3 pb-3">
        <h1 class="text-center text-white fs-3 fs-md-1">Lo bueno no está en Netflix... está en Nextfilm.</h1>
        <h2 class="text-center text-white fs-5 fs-md-3">Pilla tu sitio, que la peli va a empezar.</h2>
      </div>

      <!-- Botón principal -->
      <div class="text-center mt-4 mb-5">
        <a [routerLink]="'/auth/login'" class="btn btn-primary text-white rounded-3">
          <p class="my-0 align-items-center d-flex" style="font-size: 28px; padding: 15px 35px;"> <b>Vamos allá</b> </p>
        </a>
      </div>

    </div>

    <!-- Sección de tarjetas -->
    <div class="container mb-3">
      <div class="row justify-content-center">

        <!-- Tarjeta 1 -->
        <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-4">
          <div class="card text-white border border-0" style="width: 18rem; background-color: rgba(33,37,41,0.7);">
            <div class="card-body text-center">
              <h3 class="card-title text-primary">Descubre lo que nunca viste</h3>
              <h5 class="card-subtitle mb-2 text-info">¿Buscas algo fresco? ¡Encuentra lo que te sorprenderá!</h5>
              <p class="card-text mt-4">En Nextfilm, tenemos una amplia selección de películas para todos los gustos.
                Desde los
                últimos estrenos hasta esos clásicos que nunca pasan de moda. ¡Únete ahora y empieza a explorar!</p>
            </div>
          </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-4">
          <div class="card text-white border border-0" style="width: 18rem; background-color: rgba(33,37,41,0.7);">
            <div class="card-body text-center">
              <h3 class="card-title text-primary">Tu cine, como tú quieres</h3>
              <h5 class="card-subtitle mb-2 text-info">Cada usuario tiene su propio perfil y recomendaciones</h5>
              <p class="card-text mt-4">En Nextfilm, te damos recomendaciones personalizadas para que siempre tengas
                algo que
                ver. ¡Dile adiós a las búsquedas
                interminables!</p>
            </div>
          </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-4">
          <div class="card text-white border border-0" style="width: 18rem; background-color: rgba(33,37,41,0.7);">
            <div class="card-body text-center">
              <h3 class="card-title text-primary">Descubre lo que Nextfilm ofrece</h3>
              <h5 class="card-subtitle mb-2 text-info">Accede a series exclusivas y contenido original</h5>
              <p class="card-text mt-4">¡Explora nuestra colección de series exclusivas que no
                encontrarás en ningún otro lugar! En Nextfilm, siempre hay algo nuevo para ver. ¡Haz de Nextfilm tu
                plataforma favorita y vive
                una experiencia de cine y series sin límites!</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
