<!-- Imagen de cabecera del landing -->
<img src="./assets/images/nextfilm-logo.png" class="img-fluid" alt="Nextfilm logo">

<div class="bg-dark pt-3 pb-3">
  <!-- Texto para incitar la llamada a la acción -->
  <div class="mt-3">
    <p class="text-center text-white">Lo bueno no está en Netflix... está en Nextfilm.</p>
    <p class="text-center text-white">Pilla tu sitio, que la peli va a empezar.</p>
  </div>
  <!-- Boton para la llamada a la accion -->
  <div class="text-center mt-3 mt-3">
    <button type="button" class="btn btn-primary btn-lg">Vamos allá</button>
  </div>
</div>

<div class="pt-1 d-flex justify-content-center bg-dark">
  <div class="row justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card bg-dark text-white" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title text-primary">Descubre lo que nunca viste</h5>
          <h6 class="card-subtitle mb-2 text-info">¿Buscas algo fresco? ¡Encuentra lo que te sorprenderá!</h6>
          <p class="card-text">En Nextfilm, tenemos una amplia selección de películas para todos los gustos. Desde los
            últimos estrenos hasta esos clásicos que nunca pasan de moda. ¡Únete ahora y empieza a explorar!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center bg-dark">
      <div class="card bg-dark text-white" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title text-primary">Tu cine, a tu manera</h5>
          <h6 class="card-subtitle mb-2 text-info">Cada usuario tiene su propio perfil y recomendaciones</h6>
          <p class="card-text">En Nextfilm, te damos recomendaciones personalizadas para que siempre tengas algo que
            ver. Crea tu perfil y deja que el algoritmo haga el trabajo por ti. ¡Dile adiós a las búsquedas
            interminables!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex justify-content-center bg-dark">
      <div class="card bg-dark text-white" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title text-primary">Solo en Nextfilm</h5>
          <h6 class="card-subtitle mb-2 text-info">Accede a series exclusivas y contenido original</h6>
          <p class="card-text">No solo ofrecemos películas. ¡Explora nuestra colección de series exclusivas que no
            encontrarás en ningún otro lugar! En Nextfilm, siempre hay algo nuevo para ver.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- <div class="container-xxl px-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-4">

    <div class="col">
      <div class="card text-center text-primary p-3 bg-card-trs" style="min-height: 200px;">
        <i class="fa-solid fa-bed fs-1"></i>
        <div class="card-body">
          <h3 class="card-title fw-bolder">Gestión de Habitaciones</h3>
          <p class="card-text text-muted">Administra fácilmente la disponibilidad y estado de las habitaciones.</p>
        </div>
      </div>
    </div>


  </div>
</div> -->
