<!-- <div class="flex mb-3 mt-2">
  <div class="d-flex justify-content-center align-items-center gap-2 mb-3">
    <img src="../../../assets/images/rrss/instagram.png" alt="instagram" style="height: 14px; width: 14px; object-fit: contain;" priority />
    <img src="../../../assets/images/rrss/tiktok.png" alt="tiktok" style="height: 14px; width: 14px; object-fit: contain;" priority/>
    <img src="../../../assets/images/rrss/x.png" alt="x" style="height: 14px; width: 14px; object-fit: contain;" priority/>
    <img src="../../../assets/images/rrss/youtube.png" alt="youtube" style="height: 14px; width: 14px; object-fit: contain;" priority/>
  </div>
  <div>
    <p class="text-center" style="font-size: 12px; color: #adb5bd; font-weight: 300;">© Copyright NextFilm 2025. Design
      by Angular & Node interns</p>
  </div>

</div> -->


<div class="flex mb-3 mt-2">
  <div class="d-flex justify-content-center align-items-center gap-2 mb-3">
    <img ngSrc="assets/images/rrss/instagram.png" alt="instagram" width="14" height="14" priority />
    <img ngSrc="assets/images/rrss/tiktok.png" alt="tiktok" width="14" height="14" priority />
    <img ngSrc="assets/images/rrss/x.png" alt="x" width="14" height="14" priority />
    <img ngSrc="assets/images/rrss/youtube.png" alt="youtube" width="14" height="14" priority />
  </div>
  <div>
    <p class="text-center" style="font-size: 12px; color: #adb5bd; font-weight: 300;">© Copyright NextFilm 2025. Design
      by Angular & Node interns</p>
  </div>
</div>
