<h1 class="h2 fw-bold">{{ movie().title }}</h1>
<hr class="my-3">

<form
  [formGroup]="movieForm"
  class="row g-4"
  (ngSubmit)="onSubmit()"
>
  <!-- Datos generales -->
  <h2 class="h3 fw-bold mb-3">Datos Pelicula</h2>

  <!-- Primera fila: Título, Director, Estreno -->
  <div class="row g-3 mb-3">
    <div class="col-md-4">
      <label for="title" class="form-label">Título</label>
      <input
        id="title"
        type="text"
        placeholder="Título"
        class="form-control"
        formControlName="title"
        [class.is-invalid]="movieForm.get('title')?.errors ?? false"
      />
      <app-form-error-label [control]="movieForm.get('title')!" [valido]="cambiado()"/>
    </div>

    <div class="col-md-4">
      <label for="director" class="form-label">Director</label>
      <input
        id="director"
        type="text"
        placeholder="Director"
        class="form-control"
        formControlName="director"
        [class.is-invalid]="movieForm.get('director')?.errors ?? false"
      />
    </div>

    <div class="col-md-4">
      <label for="release" class="form-label">Fecha de Estreno</label>
      <input
        id="release"
        formControlName="release"
        type="date"
        placeholder="Release DD/MM/YYYY"
        class="form-control"
        [class.is-invalid]="movieForm.get('release')?.errors ?? false"
      />
      <app-form-error-label [control]="movieForm.get('release')!" [valido]="cambiado()"/>
    </div>
  </div>

  <!-- Segunda fila: Descripción -->
  <div class="row mb-3">
    <div class="col-12">
      <label for="description" class="form-label">Descripción</label>
      <textarea
        id="description"
        class="form-control"
        placeholder="Descripción"
        rows="4"
        formControlName="description"
        [class.is-invalid]="movieForm.get('description')?.errors ?? false"
      ></textarea>
      <app-form-error-label [control]="movieForm.get('description')!"[valido]="cambiado()" />
    </div>
  </div>

  <!-- Duración (campo oculto) -->
  <div class="d-none">
    <input
      formControlName="duration"
      type="text"
      placeholder="Duracion en Minutos"
      class="form-control"
    />
    <app-form-error-label [control]="movieForm.get('duration')!" />
  </div>

  <!-- Tercera fila: Precio y Stock -->
  <div class="row mb-3">
    <div class="col-6">
      <label for="rental_price" class="form-label">Precio</label>
      <input
        id="rental_price"
        type="number"
        placeholder="Precio"
        class="form-control"
        formControlName="rental_price"
        [class.is-invalid]="movieForm.get('rental_price')?.errors ?? false"
      />
      <app-form-error-label [control]="movieForm.get('rental_price')!" [valido]="cambiado()"/>
    </div>

    <div class="col-6">
      <label for="stock" class="form-label">Inventario</label>
      <input
        id="stock"
        type="number"
        placeholder="Inventario"
        class="form-control"
        formControlName="stock"
        [class.is-invalid]="movieForm.get('stock')?.errors ?? false"
      />
      <app-form-error-label [control]="movieForm.get('stock')!" [valido]="cambiado()"/>
    </div>
  </div>

  <!-- Cuarta fila: Géneros -->
  <div class="row mb-3">
    <div class="col-12">
      <label class="form-label">Géneros</label>
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 row-cols-xl-12 g-2">
        @for (genre of genres; track $index) {
        <div class="col">
          <button
            class="btn btn-sm w-100"
            type="button"
            (click)="onGenreClick(genre)"
            [class.btn-primary]="movieForm.value.genre == genre"
          >
            {{ genre }}
          </button>
        </div>
        }
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-success btn-lg">
        Guardar
      </button>
    </div>
  </div>

</form>

@if(wasSaved()){

<div class="alert alert-success position-fixed bottom-0 end-0 m-4" style="width: 300px;">
  <span>Datos Actualizados Correctamente</span>
</div>
}
