<nav class="navbar navbar-dark bg-dark border-danger border-body">
  <div class="container-xxl">
    <!-- Logo + Botones juntos -->
    <div class="d-flex align-items-center">
      <div class="navbar-brand ms-3">
        <a
          [routerLink]="'/'"
          class="d-flex align-items-center no-decoration"
          href="#"
        >
          <img
            src="assets/images/nextfilm-logo.png"
            alt="Bootstrap"
            height="50"
            class="me-2"
          />
        </a>
      </div>



      @if (!currentRoute().startsWith('/landing') &&
      !currentRoute().startsWith('/auth')) {

      <div class="d-flex d-none d-md-flex flex-row gap-1">
        <a [routerLink]="'/home'" class="btn btn-sm btn-outline-primary d-flex px-1 py-2" routerLinkActive="btn-primary text-white">
          <i class="fa-solid fa-home me-1 fs-5 d-flex align-items-center justify-content-center" style="width:30px;"></i>
          <p class="my-0 me-1 align-items-center d-flex"><b>Inicio</b></p>
        </a>
        <a [routerLink]="'/movies'" class="btn btn-sm btn-outline-primary d-flex px-1 py-2" routerLinkActive="btn-primary text-white" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-film me-1 fs-5 d-flex align-items-center justify-content-center" style="width:30px;"></i>
            <p class="my-0 me-1 align-items-center d-flex"><b>Películas</b></p>
        </a>
        @if (!authService.user()?.isAdmin) {
        <a [routerLink]="'/profile'" class="btn btn-sm btn-outline-primary d-flex px-1 py-2" routerLinkActive="btn-primary text-white">
            <i class="fa-solid fa-user me-1 fs-5 d-flex align-items-center justify-content-center" style="width:30px;"></i>
            <p class="my-0 me-1 align-items-center d-flex"><b>Mi Perfil</b></p>
        </a>
        }
        @if (authService.user()?.isAdmin) {
        <a [routerLink]="'/movies/admin'" class="btn btn-sm btn-outline-nextblue d-flex px-1 py-2" routerLinkActive="btn-nextblue text-white">
            <i class="fa-solid fa-clapperboard me-1 fs-5 d-flex align-items-center justify-content-center" style="width:30px;"></i>
            <p class="my-0 me-1 align-items-center d-flex"><b>Inventario</b></p>
        </a>
        <a [routerLink]="'/rentals'" class="btn btn-sm btn-outline-nextblue d-flex px-1 py-2" routerLinkActive="btn-nextblue text-white">
            <i class="fa-solid fa-user-tag me-1 fs-5 d-flex align-items-center justify-content-center" style="width:30px;"></i>
            <p class="my-0 me-1 align-items-center d-flex"><b>Alquileres</b></p>
        </a>
        }
      </div>

      }
    </div>

    <!-- Botón para el desplegable -->
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarOffcanvasLg"
      aria-controls="navbarOffcanvasLg"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Botón Cerrar Sesión -->
    <div class="justify-content-end align-items-center d-none d-lg-flex">
      <h6 class="me-2"><b>{{ authService.user()?.name | titlecase }}</b></h6>
      <!--  -->
      <a
        [routerLink]="'/landing'"
        (click)="authService.logout()"
        class="btn btn-sm btn-outline-danger d-flex px-2 py-2"
      >
        <i
          class="fa-solid fa-arrow-right-from-bracket fs-5 ms-1 d-flex align-items-center"
          style="width: 30px"
        ></i>
        <p class="my-0 ms-0 align-items-center d-flex"><b>Salir</b></p>
      </a>
    </div>

    <!-- ---------- Desplegable ---------- -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="navbarOffcanvasLg"
      aria-labelledby="navbarOffcanvasLgLabel"
      style="width: 330px"
    >
      <!-- Encabezado del Desplegable -->
      <div
        class="offcanvas-header align-items-center px-4"
        style="height: 90px"
      >
    <h1><b>{{ authService.user()?.name }}</b></h1>
  </div>

      <!-- Línea horizontal -->
      <hr class="my-0 border border-primary border-1 opacity-50" />

      <!-- Cuerpo del desplegable -->
      <!-- Cuerpo del desplegable -->
        <div class="offcanvas-body px-4 d-flex flex-column">

          <div class="list-unstyled" id="list-tab" role="tablist">

              <a routerLink="/home" routerLinkActive="btn-primary" class="btn btn-lg w-100 d-flex mb-2 text-hover-white">
                <i class="fa-solid fa-home fs-2 m-0 ms-2 d-flex align-items-center justify-content-center text-white" style="width:32px;"></i>
                <p class="my-0 mx-4 align-items-center justify-content-center d-flex text-white"><b>Inicio</b> </p>
              </a>

              <a routerLink="/movies" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-lg w-100 d-flex mb-2">
                <i class="fa-solid fa-film fs-2 m-0 ms-2 d-flex align-items-center justify-content-center text-white" style="width:32px;"></i>
                <p class="my-0 mx-4 align-items-center justify-content-center d-flex text-white"><b>Peliculas</b> </p>
              </a>

              @if (!authService.user()?.isAdmin) {
              <a [routerLink]="'/profile'" routerLinkActive="btn-primary" class="btn btn-lg w-100 d-flex mb-2">
                <i class="fa-solid fa-user fs-2 m-0 ms-2 d-flex align-items-center justify-content-center text-white" style="width:32px;"></i>
                <p class="my-0 mx-4 align-items-center justify-content-center d-flex text-white"><b>Mi Perfil</b> </p>
              </a>
              }
              @if (authService.user()?.isAdmin) {
              <a routerLink="/movies/admin" routerLinkActive="btn-primary" class="btn btn-lg w-100 d-flex mb-2">
                <i class="fa-solid fa-clapperboard fs-2 m-0 ms-2 d-flex align-items-center justify-content-center text-white" style="width:32px;"></i>
                <p class="my-0 mx-4 align-items-center justify-content-center d-flex text-white"><b>Inventario</b> </p>
              </a>

              <a routerLink="/rentals" routerLinkActive="btn-primary" class="btn btn-lg w-100 d-flex mb-2">
                <i class="fa-solid fa-user-tag fs-2 m-0 ms-2 d-flex align-items-center justify-content-center text-white" style="width:32px;"></i>
                <p class="my-0 mx-4 align-items-center justify-content-center d-flex text-white"><b>Alquileres</b> </p>
              </a>
              }
            </div>

            <div class="d-flex flex-column mb-2 mt-auto">
              <a routerLink="/landing" (click)="authService.logout()" class="btn btn-lg btn-danger w-100 d-flex mb-2">
                <i class="fa-solid fa-arrow-right-from-bracket fs-2 m-0 ms-2 d-flex align-items-center justify-content-center text-white" style="width:32px;"></i>
                <p class="my-0 mx-4 align-items-center justify-content-center d-flex text-white"><b>Salir</b> </p>
              </a>
            </div>

        </div>
    </div>
  </div>
</nav>
