<div class="container py-2">
  <h2 class="text-secondary-emphasis mt-4"><b>Películas</b></h2>
  <hr
    class="mt-0 mb-3 border-4 border-secondary-emphasis border-1 opacity-50"
  />

  <!-- Cabecera de la tabla con los botones y búsqueda en una sola fila -->
  <div class="bg-dark rounded-3 d-inline-block mb-3 w-100">
    <div
      class="d-flex justify-content-between align-items-center flex-wrap p-2 gap-2"
    >
      <!-- Input Busqueda Activa-->
      <div class="input-group flex-nowrap" style="max-width: 350px">
        <span class="input-group-text" id="addon-wrapping">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar película, director, género..."
          aria-describedby="addon-wrapping"
          [(ngModel)]="searchText"
        />
      </div>
      <!-- Ordenar por -->
      <div class="d-flex gap-2 align-items-center">
        <label for="orderBy" class="form-label mb-0 text-white">Ordenar:</label>
        <select id="orderBy" class="form-select w-auto" [(ngModel)]="orderBy">
          <option value="title">Título</option>
          <option value="genre">Género</option>
          <option value="release">Estreno</option>
          <option value="director">Director</option>
          <option value="duration">Duración</option>
          <option value="stock">Stock</option>
          <option value="rental_price">Precio</option>
        </select>
        <select class="form-select w-auto" [(ngModel)]="orderDirection">
          <option value="asc">Ascendente</option>
          <option value="desc">Descendente</option>
        </select>
      </div>
    </div>
  </div>

  <div
    class="d-grid gap-4"
    style="grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))"
  >
    @for(movie of movies() | filterByText:searchText |
    orderBy:orderBy:orderDirection; track movie._id){
    <div
      [ngClass]="{
        ' bg-light-subtle ': movie.stock === 0,
      }"
      class="card w-auto"
    >
      <!-- card bg-dark text-light h-100 shadow-lg border-0 -->
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          @if (movie.stock === 0) {
          <h6 class="text-center"><b>SIN STOCK</b></h6>
          }
          <h5 class="card-title">
            <b>{{ movie.title }}</b>
          </h5>
          <span
            class="badge fs-6 my-1"
            [ngClass]="{
              'bg-light-subtle': movie.stock === 0,
              'bg-secondary ': movie.genre === 'action',
              'bg-danger': movie.genre === 'horror',
              'bg-warning': movie.genre === 'comedy',
              'bg-success': movie.genre === 'sci-fi',
              'bg-info': movie.genre === 'drama',
              'bg-light text-dark': movie.genre === 'animated',
              'bg-primary': movie.genre === 'musical'
            }"
          >
            {{ movie.genre | titlecase }}
          </span>
          <p class="card-text small">
            {{ movie.description }}
          </p>
        </div>

        <ul class="list-unstyled mt-3 mb-0">
          <li><strong>Director:</strong> {{ movie.director }}</li>
          <li><strong>Duración:</strong> {{ movie.duration }} min</li>
          <li>
            <strong>Estreno:</strong> {{ movie.release | date : "longDate" }}
          </li>
          <li><strong>Stock:</strong> {{ movie.stock }}</li>
          <li><strong>Precio:</strong> ${{ movie.rental_price }}</li>
        </ul>
      </div>
      <div class="card-footer bg-transparent border-0 my-2 text-center">
        <a
          class="btn btn-outline-light btn-sm me-2"
          [routerLink]="['/movies/info/', movie._id]"
          ><b>Ver más</b></a
        >
        @if (movie.stock > 0) {
        <a class="btn btn-outline-light btn-sm" type="button">
          <b>Reservar</b>
        </a>
        }
      </div>
    </div>
    }
  </div>
</div>
